* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-height: 500px;
    background-image: url(../imagens/Severiano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
}



header #drop-menu {
    flex: 1;
}

header #drop-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    border-bottom: white 1px solid;
}

header #drop-menu li {
    min-width: 150px;
    text-decoration: none;
    line-height: 25px;
}

header #drop-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 960px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.home p {
    text-align: justify;
}

