* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-height: 500px;
    background-image: url(../imagens/Severiano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
}

header #logo {
    width: 200px;
}

header #menu {
    flex: 1;
    display: flex;
}
